<?xml version="1.0"?>
<!--
/**
 * @category    M2Commerce Enterprise
 * @package     M2Commerce_ComingSoonProduct
 * @copyright   Copyright (c) 2023 M2Commerce Enterprise
 * @author      dawoodgondaldev@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="commerce_enterprise" translate="label" sortOrder="400">
            <label>Commerce Enterprise</label>
        </tab>
        <section id="comingSoon" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Coming Soon Products</label>
            <tab>commerce_enterprise</tab>
            <resource>M2Commerce_ComingSoonProduct::comingSoonConfig</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable coming soon feature on storefront</comment>
                </field>
                <field id="label" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Coming Soon Label</label>
                    <comment>Coming soon label to show on storefront</comment>
                </field>
            </group>
        </section>
    </system>
</config>
